PROJECT=Forte

SCRIPT_REPO_URL=LOCAL
SCRIPT_REPO_USERNAME=
SCRIPT_REPO_TOKEN=

JENKINS_RUNS_TO_KEEP=30

INFLUXDB_URL=http://influxdb:8086
INFLUXDB_BUCKET=perf_metrics
INFLUXDB_ORG=forte
INFLUXDB_TOKEN=local-token
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=local-password

GRAFANA_HTTP_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
